* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body,
input,
button,
textarea {
    font: 400 16px 'Roboto', sans-serif;
}

.dark {
    background: #333;
    color: #fff;
    .main-content>img {
        background: #fff;
        padding: 10px;
        margin: -10px;
        border-radius: 28%;
    }
}

.theme {
    margin: 25px;
    border-radius: 50%;
    border: none;
    color: white;
    padding: 20px;
    background: -webkit-linear-gradient(#ccc 50%, #333 50%);
    width: 89px;
    position: absolute;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    width: 100%;
    gap: 16px;
}